{%- if product.metafields.global.QuickShip.value == "Yes" -%}
<div class="mytooltip2"><img src="https://cdn.shopify.com/s/files/1/0377/8933/5692/files/same-day-shipping-blue_612b2894-2bc6-404d-afa7-abc33c47dd76.png" alt="Same day shipping from Atlanta Warehouse" width="100px" height="100px"><span class="mytooltiptext2">IN STOCK - Order Now.<br/>Ships within 1 Business Day. Excludes LTL shipments.</span></div>
{%- endif -%}

{% comment %}
{%- if product.selected_or_first_available_variant.sku == "RK03-SMPM-KIT" -%}
<div class="mytooltip2"><img src="https://cdn.shopify.com/s/files/1/0377/8933/5692/files/same-day-shipping-blue_612b2894-2bc6-404d-afa7-abc33c47dd76.png" alt="Same day shipping from Atlanta Warehouse" width="80%" height="80%"><span class="mytooltiptext2">IN STOCK - Order Now.<br/>Ships within 1 Business Day. Excludes LTL shipments.</span></div>
  {%- else -%}
{%- endif -%}

{%- if product.selected_or_first_available_variant.sku == "RKLH0301105W5KDNCHL" -%}
<div class="mytooltip2"><img src="https://cdn.shopify.com/s/files/1/0377/8933/5692/files/same-day-shipping-blue_612b2894-2bc6-404d-afa7-abc33c47dd76.png" alt="Same day shipping from Atlanta Warehouse" width="80%" height="80%"><span class="mytooltiptext2">IN STOCK - Order Now.<br/>Ships within 1 Business Day. Excludes LTL shipments.</span></div>
  {%- else -%}
{%- endif -%}

{%- if product.selected_or_first_available_variant.sku == "RKRH0301150W5KDNLCB" -%}
<div class="mytooltip2"><img src="https://cdn.shopify.com/s/files/1/0377/8933/5692/files/same-day-shipping-blue_612b2894-2bc6-404d-afa7-abc33c47dd76.png" alt="Same day shipping from Atlanta Warehouse" width="80%" height="80%"><span class="mytooltiptext2">IN STOCK - Order Now.<br/>Ships within 1 Business Day. Excludes LTL shipments.</span></div>
  {%- else -%}
{%- endif -%}

{%- if product.selected_or_first_available_variant.sku == "RKLH0301165W5KDNCHL" -%}
<div class="mytooltip2"><img src="https://cdn.shopify.com/s/files/1/0377/8933/5692/files/same-day-shipping-blue_612b2894-2bc6-404d-afa7-abc33c47dd76.png" alt="Same day shipping from Atlanta Warehouse" width="80%" height="80%"><span class="mytooltiptext2">IN STOCK - Order Now.<br/>Ships within 1 Business Day. Excludes LTL shipments.</span></div>
  {%- else -%}
{%- endif -%}

{% endcomment %}