{%- if product.metafields.global.QuickShip == 'Yes' -%}
  <div class="mytooltip">
    <img
      src="https://cdn.shopify.com/s/files/1/0377/8933/5692/files/same-day-shipping-blue_612b2894-2bc6-404d-afa7-abc33c47dd76.png"
      alt="Same day shipping from Atlanta Warehouse"
      width="151"
      height="36"
      loading="lazy"
    ><span class="mytooltiptext"
      >IN STOCK - Order Now.<br>
      Ships within 1 Business Day. Excludes LTL shipments.</span
    >
  </div>
{%- endif -%}
