<!-- GIO END 08/19/2022 Link to product types -->
<!-- Shopper Approved Product Page Stars Code - snippets/product-just-stars.liquid -->
<div class="product-meta__reviews">
  <div id="product_just_stars" class="reg aside"></div>
  <!-- ab-tiny-widget -->
  <script
    src="https://revolveled.services.answerbase.com/javascript/widget/cta-widget.min.js"
    data-click-to-show=""
    data-insert-after="#product_just_stars"
    defer
  ></script>
</div>
