<strong class="product-details-title">Certifications</strong>
<div class="product-certification-icons__images">
  {%- if product.metafields.global.us_company.value == 'Yes' -%}
    <img
      alt="US company"
      src="https://cdn.shopify.com/s/files/1/0377/8933/5692/files/usa-company.png?v=1617226869"
      class="cert-icon-img"
    >
  {%- endif -%}
  {%- if product.metafields.global['three-years-warranty'].value == 'Yes' -%}
    <img
      alt="3 years warranty"
      src="https://cdn.shopify.com/s/files/1/0377/8933/5692/files/3-years-warranty-web.png?v=1668136651"
      class="cert-icon-img"
    >
  {%- endif -%}
  {%- if product.metafields.global['ten-years-warranty'].value == 'Yes' -%}
    <img
      alt="10 years warranty"
      src="https://cdn.shopify.com/s/files/1/0377/8933/5692/files/10-yr-warranty.jpg?v=1645473690"
      class="cert-icon-img"
    >
  {%- endif -%}
  {%- if product.metafields.global['five-years-warranty'].value == 'Yes' -%}
    <img
      alt="5 years warranty"
      src="https://cdn.shopify.com/s/files/1/0377/8933/5692/files/5-yr-warranty.png?v=1617227956"
      class="cert-icon-img"
    >
  {%- endif -%}
  {%- if product.metafields.global['seven-years-warranty'].value == 'Yes' -%}
    <img
      alt="7 years warranty"
      src="https://cdn.shopify.com/s/files/1/0377/8933/5692/files/7-yr-warranty.png?v=1617490564"
      class="cert-icon-img"
    >
  {%- endif -%}
  {%- if product.metafields.global.dlc_listed.value == 'Yes' -%}
    <img
      class="cert-icon-img"
      src="https://cdn.shopify.com/s/files/1/0377/8933/5692/files/DLC-QPL-LISTED-logo_color.png?v=1654305623"
      alt="DLC listed"
    >
  {%- endif -%}
  {%- if product.metafields.global.ul_listed.value == 'Yes' -%}
    <img
      alt="UL listed"
      class="cert-icon-img"
      src="https://cdn.shopify.com/s/files/1/0377/8933/5692/files/UL_Certified_Icon_0bd8a2b5-35ad-4cae-b36c-ec9c02b06285.png?v=1654305623"
    >
  {%- endif -%}
  {%- if product.metafields.global.dimmable_010v.value == 'Yes' -%}
    <img
      alt="0-10v dimmable"
      class="cert-icon-img"
      src="https://cdn.shopify.com/s/files/1/0377/8933/5692/files/0-10V-dimmable.png?v=1617489641"
    >
  {%- endif -%}
  {%- if product.metafields.global.dimmable_110v.value == 'Yes' -%}
    <img
      alt="1-10V dimmable"
      class="cert-icon-img"
      src="https://cdn.shopify.com/s/files/1/0377/8933/5692/files/1-10v.png?v=1617226869"
    >
  {%- endif -%}
  {%- if product.metafields.global.etl_listed.value == 'Yes' -%}
    <img
      alt="ETL listed"
      class="cert-icon-img"
      src="https://cdn.shopify.com/s/files/1/0377/8933/5692/files/etl.png?v=1617165431"
    >
  {%- endif -%}
  {%- if product.metafields.global.dlc_qpl_premium.value == 'Yes' -%}
    <img
      alt="DLC Premium"
      class="cert-icon-img"
      src="https://cdn.shopify.com/s/files/1/0377/8933/5692/files/DLC-QPL-PREMIUM-logo_color.png?v=1654305623"
    >
  {%- endif -%}
  {%- if product.metafields.global.rohs.value == 'Yes' -%}
    <img
      class="cert-icon-img"
      alt="RoHS compliance "
      src="https://cdn.shopify.com/s/files/1/0377/8933/5692/files/rohs.png?v=1617338434"
    >
  {%- endif -%}
  {%- if product.metafields.global['energy-star_certification'].value == 'Yes' -%}
    <img
      class="cert-icon-img"
      src="https://cdn.shopify.com/s/files/1/0377/8933/5692/files/energy-star_certification.png?v=1617641987"
      alt="Energy Star certification"
    >
  {%- endif -%}
  {%- if product.metafields.global.Title20Compliant.value == 'Yes' -%}
    <img
      class="cert-icon-img"
      src="https://cdn.shopify.com/s/files/1/0377/8933/5692/files/title-20-ca-compliant.png?v=1730351387"
      alt="California Title 20 Compliant"
    >
  {%- endif -%}
  {%- if product.metafields.global.csa_certification.value == 'Yes' -%}
    <img
      class="cert-icon-img"
      src="https://cdn.shopify.com/s/files/1/0377/8933/5692/files/csa_certification.jpg?v=1617641987"
      alt="CSA certification"
    >
  {%- endif -%}
  {%- if product.metafields.global.fcc_certification.value == 'Yes' -%}
    <img
      class="cert-icon-img"
      src="https://cdn.shopify.com/s/files/1/0377/8933/5692/files/fcc_certification.jpg?v=1617641987"
      alt="FCC certification"
    >
  {%- endif -%}
  {%- if product.metafields.global.Title24Compliant.value == 'Yes' -%}
    <img
      class="cert-icon-img"
      src="https://cdn.shopify.com/s/files/1/0377/8933/5692/files/title-24-ca-compliant.png?v=1730315339"
      alt="California Title 24 Compliant"
    >
  {%- endif -%}
  {%- if product.metafields.global.ip65.value == 'Yes' -%}
    <img
      alt="IP65 rating"
      src="https://cdn.shopify.com/s/files/1/0377/8933/5692/files/ip65.png?v=1617226869"
      class="cert-icon-img"
    >
  {%- endif -%}
  {%- if product.metafields.global.ip66.value == 'Yes' -%}
    <img
      class="cert-icon-img"
      alt="IP66 enclosures offer the highest protection against particles"
      src="https://cdn.shopify.com/s/files/1/0377/8933/5692/files/ip66.png?v=1617338283"
    >
  {%- endif -%}
</div>
