{%- assign custom_metafield = product.metafields.custom_metafield -%}

{%- if block.settings.show_bulletpoints -%}
  {%- if custom_metafield.bullet != blank -%}
    <div class="product-meta__bulletpoints rte">
      <ul style="columns: 2; font-size: 16px; margin: 0 0 1rem;font-weight:600;">
        {{ custom_metafield.bullet }}
      </ul>
    </div>
  {%- endif -%}
{%- endif -%}
