{% if product.tags contains 'LED Panel and Troffer Lights' or product.tags contains 'Strip Light' or product.tags contains 'Linear High Bay Lights' or product.tags contains 'Recessed Downlights' or product.tags contains 'LED Tubes' or product.tags contains 'LED Exit Signs and Emergency' or product.tags contains 'Linear Tubes and Lamp lights' %}
<b><span style="color: red;">Office Lighting Sale - 10% OFF Commercial Office Fixtures</span></b>
<b><span style="color: red;">Coupon code OFFICE10 is valid from 5/18/2026 to 5/29/2026</span></b>
        <img style="max-height: 500px;" alt="10% off on office lighting"  src="https://cdn.shopify.com/s/files/1/0377/8933/5692/files/2026-office-lighting-coupon-code.jpg?v=1778728275"/>
{% endif %}

{%  comment  %}
{% if product.id == 6887856242828 %}
        <b>Coupon code "OFFICE10". Expires 5/29/2026</b>
        <img style="max-height: 500px;" alt="10% off on office lighting"  src="https://cdn.shopify.com/s/files/1/0377/8933/5692/files/2026-office-lighting-coupon-code.jpg?v=1778728275"/>
{% endif %}
 {%  endcomment %}