{%- assign backorder_status = product.metafields.global.backorder_status | handleize -%}

{%- if backorder_status == 'yes' -%}
  <div class="product-out-of-stock-hint">
    <div class="product-out-of-stock-hint__ccontent">
      <p>Available for pre-order – estimated ship <br class="hidden-tablet-and-up">date: {{ product.metafields.global.backorder_available_date }}.</p>
      <p>Questions? Call 1-877-718-0808.</p>
      <p>
        SKU: <span class="product-meta__sku-number">{{ selected_variant.sku }}</span>
      </p>
    </div>
  </div>
{%- endif -%}
