<!-- Shopper Approved Category Code - snippets/product-item.liquid -->
<div id="product_just_stars {{ product.id }}" sa_product="{{ product.id }}" class="reg aside"></div>
<!-- END Shopper Approved Category Code - snippets/product-item.liquid -->
