<!-- Shopper Approved Rotating Widget - sections/footer -->
<section id="sa-rotating-widget" class="section" data-section-type="html">
  <div class="container">
    <div id="SA_wrapper_2ad0z3ZGgrwk" class="SA__wrapper"></div>
    <script type="text/javascript">
      var sa_interval = 5000;
      function saLoadScript(src) {
        var js = window.document.createElement('script');
        js.src = src;
        js.type = 'text/javascript';
        document.getElementsByTagName('head')[0].appendChild(js);
      }
      if (typeof shopper_first == 'undefined')
        saLoadScript('https://www.shopperapproved.com/widgets/33795/merchant/rotating-widget/2ad0z3ZGgrwk.js?v=2');
    </script>

    {% comment %}
      <div style="width: 100%;">
        <div style="min-height: 100px;" class="shopperapproved_widget sa_rotate sa_count4 sa_horizontal sa_bgWhite sa_colorBlack sa_borderGray sa_rounded sa_jMy sa_fixed sa_showlinks sa_large sa_showdate "></div>
      </div>
      <script type="text/javascript">var sa_interval = 5000;function saLoadScript(src) { var js = window.document.createElement('script'); js.src = src; js.type = 'text/javascript'; document.getElementsByTagName("head")[0].appendChild(js); } if (typeof(shopper_first) == 'undefined') saLoadScript('https://www.shopperapproved.com/widgets/testimonial/3.0/33795.js'); shopper_first = true; </script><div style="text-align:right;"><a aria-label="revolveled.com certificate URL" title="Reviews" class="sa_footer" href="https://www.shopperapproved.com/reviews/revolveled.com/" target="_blank" rel="nofollow"><img class="sa_widget_footer" style="border: 0;" alt="revolveled.com widget logo" src=https://www.shopperapproved.com/widgets/widgetfooter-darklogo.png></a></div>
      <script type="text/javascript">
        jQuery( document ).ready(function($) {
          setTimeout(function(){
            $(window).resize(function () {
              initsaJQWidget3();
            });
          }, 500);
        });
      </script>
    {% endcomment %}
  </div>
</section>

<style>
  body.template-product #sa-rotating-widget,
  body.template-cart #sa-rotating-widget {
    display: none;
  }
  .social-media__item {
    margin-right: 10px;
  }
  .media-logo {
    width: 35px;
    height: 35px;
  }
  @media only screen and (max-width: 1000px) {
    .footer__newsletter-form {
      display: none;
    }
    .footer__aside {
      width: 100%;
      margin-top: 0 !important;
    }
    .footer__aside-item--copyright:not(:only-child) {
      margin-top: 0 !important;
    }
    .footer__wrapper h3 {
      font-size: 20px;
      text-transform: capitalize;
      margin: 0;
    }
    .footer__title {
      font-size: 20px;
      text-transform: capitalize;

      font-style: normal;
      font-weight: 600;
    }
    .footer__aside-item--social .footer__aside-title {
      display: block;

      font-style: normal;
      font-weight: 600;
      font-size: 20px;
    }
    .media-logo {
      width: 30px;
      height: 30px;
      display: block;
    }
    .social-media__item {
      margin-right: 12px;
    }
  }
  @media only screen and (max-width: 640px) {
    {% comment %} .footer__aside-item {
      margin-top: 10px;
    } {% endcomment %}
    .footer__block-item--newsletter {
      order: -1;
      display: flex;
      flex-direction: column;
    }
    .footer__wrapper h3 {
      font-size: 20px;
      text-transform: capitalize;
      margin: 0;
    }
    .footer__title {
      font-size: 20px;
      text-transform: capitalize;
    }
    .footer__aside-item--social .footer__aside-title {
      font-size: 20px;
    }
    .social-box {
      order: -1;
    }
    .footer__newsletter-wrapper .footer__newsletter-text p {
      margin-bottom: 2.7rem;
    }
    .footer__aside {
      margin-top: 20px !important;
    }
  }
</style>
<!-- END Shopper Approved Rotating Widget - sections/footer -->
