<div class="container container--narrow lighting-page">
  <header class="page__header page__header--centered">
    <h1 class="page__title heading h1">{{ page.title }}</h1>
  </header>

  <div class="page__content rte">
    {{ page.content }}

    <div class="text">{{ section.settings.text }}</div>
    <div>{{ section.settings.form_code }}</div>
  </div>
</div>

{% schema %}
{
  "name": "Lighting Layout",
  "settings": [
    {
      "type": "richtext",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "html",
      "id": "form_code",
      "label": "Form Code"
    }
  ],
  "presets": [
    {
      "name": "Lighting Layout",
      "category": "Custom"
    }
  ]
}
{% endschema %}
