/* collection */
.nav-l2-box .nav-box-item {
    display: inline-block;
    vertical-align: middle;
    list-style: none;
    text-align: center;
}

.nav-l2-box .link-image {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    max-width: 120px;
    height: auto;
}

.nav-l2-box .nav-box-item a {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .collection-layout-left .filter-type .filter-item-list,
.filter-popup .filter-item-list {
    display: none;
} */

.collection-main .card {
    border: none;
}

.collection-main .layout__section:only-child {
    max-width: unset;
}

.value-picker-button svg {
    width: 16px;
    height: 16px;
    margin-bottom: -2px;
    margin-left: 5px;
}

.collection-layout-left .filter-type .filter-item-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
    padding: 10px 0;
}

.filterboxx .plus-button {
    display: block;
    position: relative;
    right: 0;
    top: calc(50% - 5px);
    width: 30px;
    height: 30px;
}

.collection-layout-left ul li {
    list-style: none;
    clear: both;
}

.collection-layout-left .tag-close:before {
    border: 1px solid #000;
    content: "";
    color: transparent;
    display: inline-block;
    width: 17px;
    height: 17px;
    line-height: .8;
    margin-right: 5px;
    margin-bottom: -3px;
}

.collection-layout-left ul li .count {
    float: right;
}

.product-item--horizontal,
.product-item--list .box {
    display: flex;
}

.product-item .box {
    background: #fff;
    padding: 10px;
    position: relative;
    height: 100%;
}

.product-item--list .box .product-item__info-inner .item-top {
    display: flex;
    flex: 1 0 50%;
    flex-direction: column;
}

.product-item__info-inner .item-top {
    padding-bottom: 50px;
}

.collection-layout-left .active-filter .tag-close:before {
    background: url(https://cdn.shopify.com/s/files/1/0377/8933/5692/files/check1.png?v=1671173302) no-repeat;
    background-size: 65%;
    background-position: center;
}

@media screen and (min-width: 1440px) {
    .nav-l2-box .link-image {
        max-width: 150px;
    }
}

@media screen and (max-width: 640px) {
    .nav-l2-box .link-image {
        max-width: 80px;
    }

    .text-with-icons__content-wrapper {
        width: 70%;
        display: inline-block;
        vertical-align: top;
        text-align: left;
    }
}

[data-section-type="collection"] .page__sub-header {
    display: none;
}

/* text with icons */
.text-with-icons__title {
    margin-bottom: 4px;
    color: var(--color-blue);
}

@media only screen and (max-width:1000px) {
    .section-text-with-icons {
        padding: 6% 0 0 !important;
    }

    .text-with-icons {
        display: flex;
        flex-wrap: wrap;
    }

    .text-with-icons__icon-wrapper {
        margin: 0 !important;
    }

    .text-with-icons__item {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px !important;
    }

    .text-with-icons__title {
        text-align: center;
        margin: 10px 0;

        font-style: normal;
        font-weight: 600;
        font-size: 17px;
        color: var(--color-blue);
    }

    .text-with-icons__content {
        display: none;
    }

    [data-section-type="text-with-icons"] {
        padding: 6% 0 0 !important;
    }
}

@media only screen and (max-width:514px) {
    .text-with-icons__title {
        font-size: 13px;
        line-height: 1.75;
    }
}

/* Gio: 2021-02-16 - Tooltip for quick ship image on product page */
/* Tooltip container */
.mytooltip {
    position: relative;
    display: inline-block;
    /* border-bottom: 1px dotted black; */
    /* If you want dots under the hoverable text */
    /* width: 75%; */
}

/* Tooltip text */
.mytooltip .mytooltiptext {
    visibility: hidden;
    width: 225px;
    background-color: #1f9cfb;
    color: #fff;
    text-align: center;
    padding: 10px 8px;
    border-radius: 6px;
    /* position to the left */
    top: -10px;
    right: 50%;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.mytooltip:hover .mytooltiptext {
    visibility: visible;
}

/* GIO END: 2021-02-16 - Tooltip for quick ship image on product page */

.mytooltip2 {
    position: relative;
    display: inline-block;
    display: none;
}

.mytooltip2 .mytooltiptext2 {
    visibility: hidden;
    width: 200px;
    background-color: #1f9cfb;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    border-radius: 6px;
    top: -10px;
    left: 10%;
    position: absolute;
    z-index: 1;
}

.mytooltip2:hover .mytooltiptext2 {
    visibility: visible;
}

/* Shopper Approved Reviews snippet */
.star_container .group-stars {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.star_container .group-stars .on {
    vertical-align: middle;
    width: 16px;
    height: 16px;
    margin-right: 2px;
}

.star_container .group-stars .ind_cnt {
    width: auto;
    display: inline-flex;
    font-size: inherit;
    margin-left: 2px;
    line-height: 1;
    font-size: 14px;
}

.star_container .group-stars .ind_cnt::before {
    content: '(';
}

.star_container .group-stars .ind_cnt::after {
    content: ')';
}

.star_container .group-stars .ind_cnt .ind_cnt_num {
    display: inline-block;
}

.star_container .group-stars .ind_cnt .ind_cnt_desc {
    display: none;
}

/* End if Shopper Approved Reviews snippet */

/* member-rewards-program */
.mytext-with-icons__icon-wrapper img {
    max-width: 60px;
    margin: 0.5em 18px 0 0;
    display: inline-block;
}

@media (max-width:749px) {
    .mytext-with-icons__icon-wrapper img {
        margin: 0;
    }
}

/* about us */
.page-aboutus .topbg {
    position: relative;
}

.page-aboutus .page__header {
    font-weight: bold;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.page-aboutus .page__header h1 {
    font-weight: bold;
}