/* collection */
.nav-l2-box .nav-box-item {
    display: inline-block;
    vertical-align: middle;
    list-style: none;
    text-align: center;
}

.nav-l2-box .link-image {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    max-width: 120px;
    height: auto;
}

.nav-l2-box .nav-box-item a {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .collection-layout-left .filter-type .filter-item-list,
.filter-popup .filter-item-list {
    display: none;
} */

.collection-main .card {
    border: none;
}

.collection-main .layout__section:only-child {
    max-width: unset;
}

.value-picker-button svg {
    width: 16px;
    height: 16px;
    margin-bottom: -2px;
    margin-left: 5px;
}

.collection-layout-left .filter-type .filter-item-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
    padding: 10px 0;
}

.filterboxx .plus-button {
    display: block;
    position: relative;
    right: 0;
    top: calc(50% - 5px);
    width: 30px;
    height: 30px;
}

.collection-layout-left ul li {
    list-style: none;
    clear: both;
}

.collection-layout-left .tag-close:before {
    border: 1px solid #000;
    content: "";
    color: transparent;
    display: inline-block;
    width: 17px;
    height: 17px;
    line-height: .8;
    margin-right: 5px;
    margin-bottom: -3px;
}

.collection-layout-left ul li .count {
    float: right;
}

.product-item--horizontal,
.product-item--list .box {
    display: flex;
}

.product-item .box {
    background: #fff;
    padding: 10px;
    position: relative;
    height: 100%;
}

.product-item--list .box .product-item__info-inner .item-top {
    display: flex;
    flex: 1 0 50%;
    flex-direction: column;
}

.product-item__info-inner .item-top {
    padding-bottom: 50px;
}

.collection-layout-left .active-filter .tag-close:before {
    background: url(https://cdn.shopify.com/s/files/1/0377/8933/5692/files/check1.png?v=1671173302) no-repeat;
    background-size: 65%;
    background-position: center;
}

@media screen and (min-width: 1440px) {
    .nav-l2-box .link-image {
        max-width: 150px;
    }
}

@media screen and (max-width: 640px) {
    .nav-l2-box .link-image {
        max-width: 80px;
    }

    .text-with-icons__content-wrapper {
        width: 70%;
        display: inline-block;
        vertical-align: top;
        text-align: left;
    }
}

[data-section-type="collection"] .page__sub-header {
    display: none;
}

/* text with icons */
.text-with-icons__title {
    margin-bottom: 4px;
    color: var(--color-blue);
}

@media only screen and (max-width:1000px) {
    .section-text-with-icons {
        padding: 6% 0 0 !important;
    }

    .text-with-icons {
        display: flex;
        flex-wrap: wrap;
    }

    .text-with-icons__icon-wrapper {
        margin: 0 !important;
    }

    .text-with-icons__item {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px !important;
    }

    .text-with-icons__title {
        text-align: center;
        margin: 10px 0;

        font-style: normal;
        font-weight: 600;
        font-size: 17px;
        color: var(--color-blue);
    }

    .text-with-icons__content {
        display: none;
    }

    [data-section-type="text-with-icons"] {
        padding: 6% 0 0 !important;
    }
}

@media only screen and (max-width:514px) {
    .text-with-icons__title {
        font-size: 13px;
        line-height: 1.75;
    }
}

/* Gio: 2021-02-16 - Tooltip for quick ship image on product page */
/* Tooltip container */
.mytooltip {
    position: relative;
    display: inline-block;
    /* border-bottom: 1px dotted black; */
    /* If you want dots under the hoverable text */
    /* width: 75%; */
}

/* Tooltip text */
.mytooltip .mytooltiptext {
    visibility: hidden;
    width: 225px;
    background-color: #1f9cfb;
    color: #fff;
    text-align: center;
    padding: 10px 8px;
    border-radius: 6px;
    /* position to the left */
    top: -10px;
    right: 50%;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.mytooltip:hover .mytooltiptext {
    visibility: visible;
}

/* GIO END: 2021-02-16 - Tooltip for quick ship image on product page */

.mytooltip2 {
    position: relative;
    display: inline-block;
    display: none;
}

.mytooltip2 .mytooltiptext2 {
    visibility: hidden;
    width: 200px;
    background-color: #1f9cfb;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    border-radius: 6px;
    top: -10px;
    left: 10%;
    position: absolute;
    z-index: 1;
}

.mytooltip2:hover .mytooltiptext2 {
    visibility: visible;
}

/* Shopper Approved Reviews snippet */
.star_container .group-stars {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.star_container .group-stars .on {
    vertical-align: middle;
    width: 16px;
    height: 16px;
    margin-right: 2px;
}

.star_container .group-stars .ind_cnt {
    width: auto;
    display: inline-flex;
    font-size: inherit;
    margin-left: 2px;
    line-height: 1;
    font-size: 14px;
}

.star_container .group-stars .ind_cnt::before {
    content: '(';
}

.star_container .group-stars .ind_cnt::after {
    content: ')';
}

.star_container .group-stars .ind_cnt .ind_cnt_num {
    display: inline-block;
}

.star_container .group-stars .ind_cnt .ind_cnt_desc {
    display: none;
}

/* End if Shopper Approved Reviews snippet */

/* member-rewards-program */
.mytext-with-icons__icon-wrapper img {
    max-width: 60px;
    margin: 0.5em 18px 0 0;
    display: inline-block;
}

@media (max-width:749px) {
    .mytext-with-icons__icon-wrapper img {
        margin: 0;
    }
}

/* about us */
.page-aboutus .topbg {
    position: relative;
}

.page-aboutus .page__header {
    font-weight: bold;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.page-aboutus .page__header h1 {
    font-weight: bold;
}


/* Reviews page & product template reviews */

.sa-reviews-content * {
    font-family: inherit !important;
}

.sa-reviews-content #SA_review_wrapper .SA__customer_rate .SA__h3 {
    white-space: nowrap;
}

.sa-reviews-content .SA__rating_wrap {
    flex-direction: column;
}

.sa-reviews-content #SA_review_wrapper .SA__customer_rate span:first-child {
    color: #EB7100;
    font-size: var(--typeface-size-heading_3, 32px);
    font-style: normal;
    font-weight: var(--typeface-weight-default-semibold, 700);
    line-height: var(--typeface-line_height-heading_3, 40px);
}

.sa-reviews-content #SA_review_wrapper .SA__customer_rate span:last-child {
    color: #1D2129;
    text-align: center;
    font-size: var(--typeface-size-body_2, 15px);
    font-weight: var(--typeface-weight-default-normal, 500);
    line-height: var(--typeface-line_height-body_2, 24px);
}

.sa-reviews-content #SA_review_wrapper .SA__review_widget .SA__review_widget_item .SA__review_content.SA__overall .SA__h1 {
    color: inherit;
}

.sa-reviews-content #SA_review_wrapper .SA__review_widget .SA__review_widget_item .SA__review_content.SA__overall a {
    font-size: inherit;
    color: inherit;
}

.sa-reviews-content #SA_review_wrapper .SA__review_widget .SA__review_widget_item .SA__review_content .SA__review_num_ratings span:last-child {
    font-size: inherit;
    vertical-align: initial;
    padding-left: 8px;
}

.sa-reviews-content #SA_review_wrapper .SA__review_filter {
    margin-top: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.sa-reviews-content #SA_review_wrapper .sa_dropdown {
    margin-right: 32px;
    line-height: 24px;
}

.sa-reviews-content #SA_review_wrapper .sa_selectbox_input {
    padding: 16px 8px;
}

.sa-reviews-content #SA_review_wrapper .sa_selectbox_wrapper {
    font-weight: 600;
}

.sa-reviews-content #SA_review_wrapper .sa_selectbox_input_arrow svg {
    width: 12px;
    height: 12px;
}

.sa-reviews-content #SA_review_wrapper .SA__review_filter button.sa_btn {
    color: #1D2129;
    text-align: center;
    font-size: inherit;
    font-weight: var(--typeface-weight-default-normal, 500);
    line-height: var(--typeface-line_height-body_2, 24px);
    padding: 15px 24px;
}

.sa-reviews-content #SA_review_wrapper .SA__review_widget .SA__review_widget_item .SA__review_content span {
    font-size: inherit;
    font-weight: var(--typeface-weight-default-normal, 500);
    color: inherit;
}

.sa-reviews-content #SA_review_wrapper .SA__customer_header {
    padding-top: 24px;
}

.sa-reviews-content #SA_review_wrapper .SA__customer_rating {
    line-height: 24px;
    font-size: inherit;
}

.sa-reviews-content #SA_review_wrapper .SA__customer_rating .SA__customer_name {
    margin-bottom: 16px;
    font-size: inherit;
}

.sa-reviews-content #SA_review_wrapper .SA__star,
.sa-reviews-content #SA_review_wrapper .SA__star svg {
    width: 24px;
    height: 20px;
}

.sa-reviews-content #SA_review_wrapper .SA__review_date {
    text-align: inherit;
    margin-top: 16px;
    display: block;
    line-height: inherit;
    font-weight: var(--typeface-weight-default-normal, 500);
}

.sa-reviews-content #SA_review_wrapper .SA__customer_content,
.sa-reviews-content #SA_review_wrapper .SA__customer_content p {
    color: #1D2129;
}

.sa-reviews-content #SA_review_wrapper .SA__customer_content p {
    margin-top: 16px;
    margin-bottom: 16px;
    font-weight: var(--typeface-weight-default-normal, 500);
}

.sa-reviews-content #SA_review_wrapper .SA__customer_content>.SA__h4:not(.SA__sub_title):first-of-type {
    margin-top: 16px;
    margin-bottom: 16px;
    line-height: 24px;
}

.sa-reviews-content #SA_review_wrapper #Verified_Customer {
    min-height: 24px !important;
}

.sa-reviews-content #SA_review_wrapper #Verified_Customer text {
    margin-right: 4px;
}

.sa-reviews-content #SA_review_wrapper .SA__verified_customer {
    display: flex;
    flex-direction: column;
    height: 1em;
    line-height: 24px;
    overflow: visible;
    gap: 4px;
    color: #272727;
    font-weight: var(--typeface-weight-default-normal, 500);
}

.sa-reviews-content #SA_review_wrapper .SA__verified_customer img {
    width: 22px;
    height: 20px;
}

.sa-reviews-content #SA_review_wrapper .SA__social-share-wrapper {
    padding-top: 8px;
    padding-bottom: 24px;
    font-size: 0;
}

.sa-reviews-content #SA_review_wrapper .SA__social-share-wrapper ul li a {
    opacity: 1;
}

.sa-reviews-content #SA_review_wrapper .SA__social-share-wrapper .SA__h4 {
    color: inherit;
    line-height: 24px;
}

.sa-reviews-content #SA_review_wrapper .SA__social-share-wrapper svg {
    width: 26px;
    height: 26px;
}

.sa-reviews-content #SA_review_wrapper .SA__social-share-wrapper svg [fill] {
    fill: #00487F;
}

.sa-reviews-content #SA_review_wrapper .SA__social-share-wrapper svg [stroke] {
    stroke: #00487F;
}

@media screen and (max-width: 999px) {
    .sa-reviews-content #SA_review_wrapper .sa_dropdown {
        margin-right: 16px;
    }
}

@media screen and (max-width: 640px) {
    .sa-reviews-content #SA_review_wrapper {
        font-size: 16px;
    }

    .sa-reviews-content #SA_review_wrapper .SA__review_container {
        padding: 0;
    }

    .sa-reviews-content #SA_review_wrapper #sa-body {
        padding: 32px 0;
    }

    .sa-reviews-content #SA_review_wrapper .SA__review_widget {
        gap: 24px;
    }

    .sa-reviews-content #SA_review_wrapper #sa-previews-header .SA__star,
    .sa-reviews-content #SA_review_wrapper #sa-previews-header .SA__star svg,
    .sa-reviews-content #SA_review_wrapper #sa-previews-header .SA__review_widget .SA__review_widget_item .SA__review_content.SA__overall .SA__star {
        width: clamp(20px, 9vw, 34px);
        height: clamp(20px, 9vw, 34px);
    }

    .sa-reviews-content .SA__rating_wrap {
        margin-bottom: 4px;
    }

    .sa-reviews-content #SA_review_wrapper .SA__review_widget .SA__review_widget_item .SA__review_content .SA__review_bar {
        margin-top: 7px;
        margin-bottom: 7px;
    }

    .sa-reviews-content #SA_review_wrapper .SA__review_widget .SA__review_widget_item .SA__review_content.SA__overall .SA__rating {
        margin: 10px 0;
    }

    .sa-reviews-content #SA_review_wrapper .SA__review_widget .SA__review_widget_item .SA__review_content.SA__overall a {
        font-size: 16px;
        font-weight: 600;
        line-height: 22px;
    }

    .sa-reviews-content #SA_review_wrapper .SA__review_widget .SA__review_widget_item:first-child {
        width: 58%;
        flex: none;
    }

    .sa-reviews-content #SA_review_wrapper .SA__review_widget .SA__review_widget_item:nth-child(2) {
        flex: 1;
        width: auto;
    }

    .sa-reviews-content #SA_review_wrapper .SA__review_widget .SA__review_widget_item:last-child {
        width: 58%;
        flex: none;
    }

    .sa-reviews-content #SA_review_wrapper .SA__customer_rate span:first-child {
        font-size: 38px;
    }

    .sa-reviews-content #SA_review_wrapper .SA__customer_rate span:last-child {
        margin-top: 10px;
        font-size: 16px;
    }

    .sa-reviews-content #SA_review_wrapper .SA__customer_rate {
        flex-direction: column;
    }

    .sa-reviews-content #SA_review_wrapper .SA__review_filter {
        display: flex;
        flex-wrap: wrap;
        padding-top: 0;
    }

    .sa-reviews-content #SA_review_wrapper .sa_selectbox_wrapper {
        font-size: 16px;
        font-weight: 700;
        line-height: 22px;
        width: 100%;
    }

    .sa-reviews-content #SA_review_wrapper .sa_dropdown {
        margin-right: 0;
        width: 50%;
    }

    .sa-reviews-content #SA_review_wrapper .sa_selectbox_input {
        width: 100%;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
    }

    .sa-reviews-content #SA_review_wrapper .SA__review_filter button.sa_btn {
        margin-top: 8px;
        display: flex;
        padding: 8px 24px;
        color: #000;
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
        background: #fff;
        border-radius: 3px;
        border: 1px solid #000;
        justify-content: center;
        width: 100%;
    }

    .sa-reviews-content #SA_review_wrapper .SA__customer_rating .SA__customer_name {
        font-size: 16px;
    }

    .sa-reviews-content #SA_review_wrapper .SA__review_date {
        font-size: 16px;
        font-weight: 400;
    }

    .sa-reviews-content #SA_review_wrapper .SA__customer_content p {
        color: #000;
        font-size: 16px;
        font-weight: 400;
        line-height: normal;
    }
}

/* End of Reviews page & product template reviews */