.template-product .page__sub-header {
  margin-top: 61px;
  display: block !important;
}

.template-product .page__sub-header .breadcrumb__item:last-child {
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 300px;
  white-space: nowrap;
}

.section-product-tab-content {
  font-size: 15px;
}

.section-product-tab-content .rte ul {
  margin: 0;
}

.section-product-tab-content .rte ul li::marker {
  content: '• ';
}

.section-product-tab-content .rte ul li {
  padding-left: 0.2em;
}

.section-product-tab-content .rte ul li::before {
  content: none;
}

.product-block-list__item--info {
  flex: 1;
}

@media screen and (max-width: 999px) {
  .template-product .page__sub-header {
    margin-top: 48px;
  }
}

@media screen and (max-width: 640px) {
  .template-product .page__sub-header {
    margin-top: 24px;
  }
}

/* product-detail-tab-bar */
.section-product-tab-content {
  padding-top: 64px;
  padding-bottom: 64px;
  color: #1D2129;
}

.product-detail-tab-bar {
  display: block;
  position: relative;
}

.product-detail-tab-bar__scroll {
  padding: 0;
  margin: 0;
  list-style: none;
  overflow: auto;
  white-space: nowrap;
  text-align: center;
  display: flex;
  gap: 24px;
  justify-content: center;
}

.product-detail-tab-bar button {
  position: relative;
  display: flex;
  color: #8C929C;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.33;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: #00487F;
  color: #FFF;
  font-size: 15px;
  font-weight: 700;
  line-height: 1;
}

.product-detail-tab-bar button span {
  position: relative;
  padding: 4px 0 5px;
  display: block;
}

.product-detail-tab-bar button[open] {
  background: #A6CE39;
}

.product-tab-content__container {
  display: none;
}

.product-tab-content__container-inner:empty {
  display: none;
}

.product-tab-content__container-inner {
  margin-top: 48px;
}

.product-tab-content__container section {
  margin-top: 48px;
}

.product-tab-content__container .product-details-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.6;
  display: block;
  margin-top: 48px;
  margin-bottom: 16px;
  color: #1D2129;
}

.product-tab-content__container .product-description .mycustomtable {
  margin: 0px;
  padding: 0;
  width: 500px;
  max-width: 100%;
}

.product-tab-content__container .product-description .mycustomtable tr {
  border: none;
}

.product-tab-content__container .product-description .mycustomtable td {
  padding: 0 0 8px;
  font-weight: 500;
  line-height: 24px;
  width: 246px !important;
  max-width: 100%;
}

.product-tab-content__container .product-description .mycustomtable tr:last-of-type td {
  padding-bottom: 0;
}

.product-tab-content__container img {
  max-width: 100%;
}

.product-description {
  font-weight: 500;
  line-height: 150%;
  --link-color: #00487F;
  position: relative;
}

.product-description a {
  color: #00487F;
}

.product-description a:not(:hover) {
  text-decoration: none !important;
}

.product-description strong,
.product-description.rte a:not(.button):not(:hover) {
  color: #009DF1;
}

.product-description a * {
  color: inherit !important;
}

.product-description ul {
  padding-left: 15px;
  list-style: disc;
  margin-bottom: 1em !important;
}

.product-description a:hover {
  text-decoration: underline;
}

.product-certification-icons__images {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.product-certification-icons__images img {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.product-specifications {
  --table-columns-spacing: 24px;
}

.product-specifications>p {
  display: block;
  margin: 0;
}

.product-specifications .table,
.product-specifications table,
.product-specifications tbody {
  margin: 0;
  padding: 0;
  width: 100% !important;
  display: block;
}

.product-specifications.rte::after {
  content: none;
}

.product-specifications table tr:first-child {
  border-top: none;
}

.product-specifications table strong {
  color: #00487F;
}

.product-specifications table tr {
  display: flex;
  border: none;
  gap: 0;
  width: 100%;
}

.product-specifications table tr td {
  flex: none;
  width: calc(25% - var(--table-columns-spacing) / 4) !important;
  border-bottom: 1.5px solid #E5E6EB;
  display: inline-block;
  padding: 16px !important;
  line-height: 1.5;
  font-weight: 500;
  white-space: normal;
}

.product-specifications table tr td:nth-child(2):not(:last-child) {
  margin-right: calc(var(--table-columns-spacing) / 2);
}

.product-specifications table tr td:nth-child(3) {
  margin-left: calc(var(--table-columns-spacing) / 2);
}

.product-specifications table tr:last-child td {
  border: none;
}

.product-video-content .video-wrapper {
  margin: 16px 0;
}

.product-tab-content__container--downloads figure,
.product-tab-content__container--downloads table {
  margin: 0;
}

.product-tab-content__container--downloads table tr {
  border: none;
  display: flex;
}

.product-tab-content__container--downloads table tr:not(:last-child) {
  border-bottom: 1px solid #C9CDD4;
}

.product-tab-content__container--downloads table tr td:first-child {
  background: #EFF8FF;
  width: 88px !important;
  max-width: 88px !important;
  text-align: center;
  padding: 18px;
}

.product-tab-content__container--downloads table tr td:first-child figure {
  display: contents;
}

.product-tab-content__container--downloads table tr td:first-child::after {
  content: '';
  position: relative;
  background-image: url('https://cdn.shopify.com/s/files/1/0377/8933/5692/files/icon-product-downloads.svg?v=1756883846');
  width: 24px;
  height: 24px;
  display: block;
  font-size: 0;
  object-fit: contain;
  margin: auto;
}

.product-tab-content__container--downloads table tr td:first-child img {
  display: none;
}

.product-tab-content__container--downloads table tr td:last-child {
  padding: 18px 24px;
  color: #1D2129;
  font-weight: 500;
  line-height: 1.5;
  flex: 1;
}

.product-tab-content__container--downloads table tr td:last-child a {
  color: #00487F;
  text-decoration: none;
}

.product-tab-content__container--downloads table tr td:last-child a[href$=".pdf"] {
  display: flex;
  align-items: center;
  gap: 8px;
}

.product-tab-content__container--downloads table tr td:last-child a[href$=".pdf"]:first-child::before {
  content: '';
  background-image: url('https://cdn.shopify.com/s/files/1/0377/8933/5692/files/icon-download-PDF-file.svg?v=1756887397');
  width: 20px;
  height: 20px;
  background-size: 100%;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  top: -2px;
}

.product-tab-content__container--downloads table tr td:last-child a:hover {
  text-decoration: underline;
}


.product-tab-content__collapse {
  display: flex;
  padding: 8px 24px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  color: #FFF;
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
  background: #00487F;
  width: 100%;
  transition: all .3s;
  margin-top: 24px;
}

.product-tab-content__collapse svg {
  transition: inherit;
}

.product-tab-content__collapse[open] {
  background: #A6CE39;
}

.product-tab-content__collapse[open] svg {
  transform: rotate(180deg);
}

.sa-reviews-content * {
  font-family: inherit !important;
}

.sa-reviews-content #SA_review_wrapper .SA__customer_rate .SA__h3 {
  white-space: nowrap;
}

.sa-reviews-content .SA__rating_wrap {
  flex-direction: column;
}

.sa-reviews-content #SA_review_wrapper .SA__customer_rate span:first-child {
  color: #EB7100;
  font-size: var(--typeface-size-heading_3, 32px);
  font-style: normal;
  font-weight: var(--typeface-weight-default-semibold, 700);
  line-height: var(--typeface-line_height-heading_3, 40px);
}

.sa-reviews-content #SA_review_wrapper .SA__customer_rate span:last-child {
  color: #1D2129;
  text-align: center;
  font-size: var(--typeface-size-body_2, 15px);
  font-weight: var(--typeface-weight-default-normal, 500);
  line-height: var(--typeface-line_height-body_2, 24px);
}

.sa-reviews-content #SA_review_wrapper .SA__review_widget .SA__review_widget_item .SA__review_content.SA__overall .SA__h1 {
  color: inherit;
}

.sa-reviews-content #SA_review_wrapper .SA__review_widget .SA__review_widget_item .SA__review_content.SA__overall a {
  font-size: inherit;
  color: inherit;
}

.sa-reviews-content #SA_review_wrapper .SA__review_widget .SA__review_widget_item .SA__review_content .SA__review_num_ratings span:last-child {
  font-size: inherit;
  vertical-align: initial;
  padding-left: 8px;
}

.sa-reviews-content #SA_review_wrapper .SA__review_filter {
  margin-top: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.sa-reviews-content #SA_review_wrapper .sa_dropdown {
  margin-right: 32px;
  line-height: 24px;
}

.sa-reviews-content #SA_review_wrapper .sa_selectbox_input {
  padding: 16px 8px;
}

.sa-reviews-content #SA_review_wrapper .sa_selectbox_wrapper {
  font-weight: 600;
}

.sa-reviews-content #SA_review_wrapper .sa_selectbox_input_arrow svg {
  width: 12px;
  height: 12px;
}

.sa-reviews-content #SA_review_wrapper .SA__review_filter button.sa_btn {
  color: #1D2129;
  text-align: center;
  font-size: inherit;
  font-weight: var(--typeface-weight-default-normal, 500);
  line-height: var(--typeface-line_height-body_2, 24px);
  padding: 15px 24px;
}

.sa-reviews-content #SA_review_wrapper .SA__review_widget .SA__review_widget_item .SA__review_content span {
  font-size: inherit;
  font-weight: var(--typeface-weight-default-normal, 500);
  color: inherit;
}

.sa-reviews-content #SA_review_wrapper .SA__customer_header {
  padding-top: 24px;
}

.sa-reviews-content #SA_review_wrapper .SA__customer_rating {
  line-height: 24px;
  font-size: inherit;
}

.sa-reviews-content #SA_review_wrapper .SA__customer_rating .SA__customer_name {
  margin-bottom: 16px;
  font-size: inherit;
}

.sa-reviews-content #SA_review_wrapper .SA__star,
.sa-reviews-content #SA_review_wrapper .SA__star svg {
  width: 24px;
  height: 20px;
}

.sa-reviews-content #SA_review_wrapper .SA__review_date {
  margin-top: 16px;
  display: block;
  line-height: inherit;
  font-weight: var(--typeface-weight-default-normal, 500);
}

.sa-reviews-content #SA_review_wrapper .SA__customer_content,
.sa-reviews-content #SA_review_wrapper .SA__customer_content p {
  color: #1D2129;
}

.sa-reviews-content #SA_review_wrapper .SA__customer_content p {
  margin-top: 16px;
  margin-bottom: 16px;
  font-weight: var(--typeface-weight-default-normal, 500);
}

.sa-reviews-content #SA_review_wrapper .SA__customer_content>.SA__h4:not(.SA__sub_title):first-of-type {
  margin-top: 16px;
  margin-bottom: 16px;
  line-height: 24px;
}

.sa-reviews-content #SA_review_wrapper .SA__verified_customer {
  display: flex;
  flex-direction: column;
  height: 1em;
  line-height: 24px;
  overflow: visible;
  gap: 4px;
  color: #272727;
  font-weight: var(--typeface-weight-default-normal, 500);
}

.sa-reviews-content #SA_review_wrapper .SA__verified_customer img {
  width: 22px;
  height: 20px;
}

.sa-reviews-content #SA_review_wrapper .SA__social-share-wrapper {
  padding-top: 8px;
  padding-bottom: 24px;
  font-size: 0;
}

.sa-reviews-content #SA_review_wrapper .SA__social-share-wrapper ul li a {
  opacity: 1;
}

.sa-reviews-content #SA_review_wrapper .SA__social-share-wrapper .SA__h4 {
  color: inherit;
  line-height: 24px;
}

.sa-reviews-content #SA_review_wrapper .SA__social-share-wrapper svg {
  width: 26px;
  height: 26px;
}

.sa-reviews-content #SA_review_wrapper .SA__social-share-wrapper svg [fill] {
  fill: #00487F;
}

.sa-reviews-content #SA_review_wrapper .SA__social-share-wrapper svg [stroke] {
  stroke: #00487F;
}

/* sa-Q&A */
#questions .answerbase-widget {
  color: #1D2129;
  font-weight: 500;
  font-size: inherit;
}

#questions .answerbase-widget .questions-list a {
  color: #009DF1;
  font-weight: var(--typeface-weight-default-normal, 500);
  font-size: 18px;
}

#questions .answerbase-widget .title h5 {
  font-size: var(--typeface-size-heading_1, 22px);
  font-weight: var(--typeface-weight-default-semibold, 700);
  line-height: var(--typeface-line_height-heading_1, 32px);
  margin-bottom: 8px;
}

#questions .answerbase-widget .ask input,
#questions .answerbase-widget .ask textarea {
  border: 1px solid rgba(0, 72, 127, 0.20);
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  line-height: 24px;
}

#questions .answerbase-widget .ask input::placeholder,
#questions .answerbase-widget .ask textarea::placeholder {
  color: #86909C;
}

#questions .answerbase-widget .ask input:not(:focus) {
  box-shadow: none;
}

#questions .answerbase-widget .questions-list h5 {
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 16px;
  margin-top: 7px;
}

#questions .answerbase-widget .questions-list .item .timestamp {
  color: inherit;
  color: #1D2129;
  font-size: var(--typeface-size-title_2, 18px);
  font-weight: var(--typeface-weight-default-semibold, 700);
  line-height: var(--typeface-line_height-title_2, 24px);
  margin-bottom: 8px;
  display: inline-block;
}

#questions .answerbase-widget .questions-list .item {
  font-size: 18px;
}

#questions .answerbase-widget .questions-list .item .follow {
  display: inline-block;
  margin-top: 8px;
  font-size: var(--typeface-size-title_2, 18px);
  line-height: var(--typeface-line_height-title_2, 24px);
}

@media screen and (max-width: 999px) {
  .product-detail-tab-bar__scroll {
    gap: 16px;
  }

  .product-detail-tab-bar button {
    font-size: 16px;
    padding: 4px 16px;
  }

  .product-specifications {
    --table-columns-spacing: 16px;
  }

  .product-specifications table tr td {
    font-size: 14px;
    padding: 12px !important;
  }

  .sa-reviews-content #SA_review_wrapper .sa_dropdown {
    margin-right: 16px;
  }
}

@media screen and (min-width: 641px) {
  .product-tab-content__container[open] {
    display: block;
  }
}

@media screen and (max-width: 640px) {
  .section-product-tab-content {
    font-size: 13px;
  }

  .product-detail-tab-bar,
  .product-tab-content__container {
    display: none;
  }

  .product-tab-content__container section {
    margin-top: 16px;
  }

  .product-tab-content__container-inner {
    margin-top: 24px;
  }

  .product-description {
    font-size: 13px;
  }

  .product-tab-content__container .product-description .mycustomtable {
    width: 100%;
  }

  .product-detail-tab-bar {
    margin-left: calc(-1 * var(--mobile-container-gutter));
    margin-right: calc(-1 * var(--mobile-container-gutter));
  }

  .product-detail-tab-bar::after {
    content: none;
  }

  .section-product-tab-content {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .product-tab-content__container {
    margin-top: 0;
  }

  .product-tab-content__container .product-details-title {
    margin-top: 16px;
  }

  .product-tab-content__container .product-details-title {
    font-size: 18px;
  }

  .product-tab-content__container .product-description .mycustomtable td {
    width: auto !important;
  }

  .product-certification-icons__images {
    padding-left: 15.5px;
    padding-right: 15.5px;
  }

  .product-specifications table tr {
    gap: 8px;
  }

  .product-specifications table tr td {
    line-height: 24px;
    padding: 8px 0 !important;
    width: calc(50% - 4px) !important;
    margin: 0 !important;
  }

  .product-specifications .table-wrapper {
    padding-bottom: 20px;
  }

  .product-specifications .table-wrapper::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  .product-specifications .table-wrapper::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 0px rgba(255, 255, 255, 0);
    background: #009DF1;
  }

  .product-specifications .table-wrapper::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0px rgba(255, 255, 255, 0);
    border-radius: 0;
    background: #E5E6EB;
  }

  .product-specifications table tr:last-child td:nth-last-child(1),
  .product-specifications table tr:last-child td:nth-last-child(2) {
    border: none;
  }

  .product-tab-content__container--downloads table tr td:last-child {
    font-size: 13px;
    line-height: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .product-tab-content__container--downloads table tr td a[href$=".pdf"] {
    min-height: 44px;
  }

  .sa-reviews-content #SA_review_wrapper {
    font-size: 16px;
  }

  .sa-reviews-content #SA_review_wrapper .SA__review_container {
    padding: 0;
  }

  .sa-reviews-content #SA_review_wrapper #sa-body {
    padding: 32px 0;
  }

  .sa-reviews-content #SA_review_wrapper .SA__review_widget {
    gap: 24px;
  }

  .sa-reviews-content #SA_review_wrapper #sa-previews-header .SA__star,
  .sa-reviews-content #SA_review_wrapper #sa-previews-header .SA__star svg,
  .sa-reviews-content #SA_review_wrapper #sa-previews-header .SA__review_widget .SA__review_widget_item .SA__review_content.SA__overall .SA__star {
    width: clamp(20px, 9vw, 34px);
    height: clamp(20px, 9vw, 34px);
  }

  .sa-reviews-content .SA__rating_wrap {
    margin-bottom: 4px;
  }

  .sa-reviews-content #SA_review_wrapper .SA__review_widget .SA__review_widget_item .SA__review_content .SA__review_bar {
    margin-top: 7px;
    margin-bottom: 7px;
  }

  .sa-reviews-content #SA_review_wrapper .SA__review_widget .SA__review_widget_item .SA__review_content.SA__overall .SA__rating {
    margin: 10px 0;
  }

  .sa-reviews-content #SA_review_wrapper .SA__review_widget .SA__review_widget_item .SA__review_content.SA__overall a {
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
  }

  .sa-reviews-content #SA_review_wrapper .SA__review_widget .SA__review_widget_item:first-child {
    width: 58%;
    flex: none;
  }

  .sa-reviews-content #SA_review_wrapper .SA__review_widget .SA__review_widget_item:nth-child(2) {
    flex: 1;
    width: auto;
  }

  #SA_review_wrapper .SA__review_widget .SA__review_widget_item:last-child {
    width: 58%;
    flex: none;
  }

  .sa-reviews-content #SA_review_wrapper .SA__customer_rate span:first-child {
    font-size: 38px;
  }

  .sa-reviews-content #SA_review_wrapper .SA__customer_rate span:last-child {
    margin-top: 10px;
    font-size: 16px;
  }

  .sa-reviews-content #SA_review_wrapper .SA__customer_rate {
    flex-direction: column;
  }

  .sa-reviews-content #SA_review_wrapper .SA__review_filter {
    display: flex;
    flex-wrap: wrap;
    padding-top: 0;
  }

  .sa-reviews-content #SA_review_wrapper .sa_selectbox_wrapper {
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    width: 100%;
  }

  .sa-reviews-content #SA_review_wrapper .sa_dropdown {
    margin-right: 0;
    width: 50%;
  }

  .sa-reviews-content #SA_review_wrapper .sa_selectbox_input {
    width: 100%;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }

  .sa-reviews-content #SA_review_wrapper .SA__review_filter button.sa_btn {
    margin-top: 8px;
    display: flex;
    padding: 8px 24px;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #000;
    justify-content: center;
    width: 100%;
  }

  .sa-reviews-content #SA_review_wrapper .SA__customer_rating .SA__customer_name {
    font-size: 16px;
  }

  .sa-reviews-content #SA_review_wrapper .SA__review_date {
    font-size: 16px;
    font-weight: 400;
  }

  .sa-reviews-content #SA_review_wrapper .SA__customer_content p {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
  }

  #questions .answerbase-widget {
    padding-top: 22px;
  }

  #questions .answerbase-widget .title h5 {
    font-size: 24px;
  }

  #questions .answerbase-widget .questions-list>.title h5 {
    font-size: 20px;
  }

  #questions .answerbase-widget .questions-list .item .timestamp {
    font-size: 16px;
    font-weight: 600;
  }

  #questions .answerbase-widget .questions-list a {
    font-weight: 400;
    font-size: 16px;
  }

  #questions .answerbase-widget .questions-list .item {
    font-size: 16px;
  }
}

@media screen and (max-width: 500px) {
  .product-certification-icons__images img {
    width: calc((100vw - var(--mobile-container-gutter) * 2 - 31px + 24px) / 4 - 24px);
    height: calc((100vw - var(--mobile-container-gutter) * 2 - 31px + 24px) / 4 - 24px);
  }
}

/* End product-detail-tab-bar */


/* product-fixed-bar */
product-fixed-bar {
  display: block;
}

.product-fixed-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 100;
  padding-top: 16px;
  padding-bottom: 16px;
  box-shadow: 0 -1px 8px 0 rgba(20, 20, 20, 0.08);
  transform: translateY(100%);
  transition: all .3s;
  visibility: hidden;
}

.product-fixed-bar[open] {
  transform: translateY(0);
  visibility: visible;
}

.product-fixed-bar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-fixed-bar__image {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.product-fixed-bar__left {
  display: flex;
  align-items: center;
  gap: 8px;
  flex: 1;
}

.product-fixed-bar__title {
  color: #00487F;
  text-overflow: ellipsis;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  display: -webkit-box;
  max-width: 400px;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.product-fixed-bar__right {
  display: flex;
  align-items: flex-end;
  gap: 16px;
}

.product-fixed-bar__right .price-list {
  align-items: center;
}

.product-fixed-bar__right .price--highlight {
  color: #F00;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.3;
  margin-right: 0;
}

.product-fixed-bar__right .price--compare {
  color: rgba(29, 33, 41, 0.60);
  font-size: 20px;
  font-weight: 700;
  line-height: 100%;
  text-decoration-line: line-through;
}

.product-fixed-bar__right .price--compare span:nth-child(2):not(:empty) {
  margin-right: 16px;
}

.product-fixed-bar__right .button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  height: 40px;
  min-width: 180px;
  font-size: 14px;
  text-transform: capitalize;
}

@media screen and (max-width: 1280px) {
  .product-fixed-bar {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .product-fixed-bar__title {
    max-width: 360px;
    font-size: 14px;
  }
}

@media screen and (max-width: 999px) {
  .product-fixed-bar__image {
    width: 48px;
    height: 48px;
  }

  .product-fixed-bar__title {
    max-width: 250px;
    font-size: 12px;
  }

  .product-fixed-bar__right {
    align-items: center;
  }

  .product-fixed-bar__right .price--highlight {
    font-size: 20px;
  }

  .product-fixed-bar__right .price--compare {
    font-size: 16px;
  }
}


@media screen and (max-width: 640px) {
  .product-fixed-bar .container {
    justify-content: flex-end;
  }

  .product-fixed-bar__right {
    width: 100%;
    justify-content: space-between;
  }

  .product-fixed-bar__right .button {
    max-width: 180px;
    width: 50%;
    min-width: initial;
    white-space: nowrap;
  }

  .product-fixed-bar__right .button {
    max-width: 180px;
    width: calc(50vw - var(--mobile-container-gutter));
    min-width: initial;
  }
}

@media screen and (max-width: 350px) {
  .product-fixed-bar__right .price--highlight {
    font-size: 5vw;
  }

  .product-fixed-bar__right .price--compare {
    font-size: 3.5vw;
  }

  .product-fixed-bar__right .price--compare span:nth-child(2):not(:empty) {
    margin-right: 4vw;
  }
}